<a href="https://colab.research.google.com/github/leandrofarias/test_colab/blob/master/first_notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import time
print(time.ctime())

Sat Sep 19 13:41:21 2020

In [5]:
time.sleep(5)
print(time.ctime())

Sat Sep 19 13:41:26 2020

**first**

*second*

~third~

$\sqrt{3x - 1} + (1 + x)^2$

$e^x=\sum_{i=0}^\infty\frac{1}{i!}x^i$

In [6]:
print('Test at GitHub')

Test at GitHub

In [7]:
a = 2
b = 4
print(a + b)

6

In [9]:
!wget http://tiagodemelo.info/datasets/dados-curso.csv

--2020-09-19 14:37:40--  http://tiagodemelo.info/datasets/dados-curso.csv
Resolving tiagodemelo.info (tiagodemelo.info)... 108.167.188.189
Connecting to tiagodemelo.info (tiagodemelo.info)|108.167.188.189|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 102696 (100K) [text/csv]
Saving to: ‘dados-curso.csv.1’

dados-curso.csv.1   100%[===================>] 100.29K   205KB/s    in 0.5s

2020-09-19 14:37:42 (205 KB/s) - ‘dados-curso.csv.1’ saved [102696/102696]

dados-curso.csv  dados-curso.csv.1  sample_data

In [10]:
!pwd

/content

In [17]:
import pandas as pd
data = pd.read_csv('/content/dados-curso.csv')
data.head()

                  data  ...  longitude
0  2020-05-23 00:21:14  ... -22.522600
1  2020-03-22 22:57:51  ... -23.606067
2  2020-04-14 00:11:33  ...  38.747518
3  2020-05-25 20:45:43  ... -23.550000
4  2020-04-15 10:34:39  ... -23.975947

[5 rows x 9 columns]